#workbench\.parts\.statusbar .codicon {
    color: #6d88a7;
}

.codicon-wrench-subaction {
	opacity: 0.5 !important;
}

@keyframes codicon-spin {
	100% {
		transform: rotate(360deg);
	}
}

.codicon-sync.codicon-modifier-spin {
	animation: codicon-spin 1.5s steps(30) infinite;
}

.codicon-loading, .codicon-tree-item-loading::before {
	animation-duration: 1s !important;
	animation-timing-function: cubic-bezier(.53, .21, .29, .67);    
}
